<div class="container">
    <div class="row d-flex">
        <div class="col-xs-12 col-sm-12 col-md-12 tool-bar justify-content-center">
            <div class="item-tool">
                <a href="javascript:" (click)="goToVault()"><i class="fa fa-archive"></i></a>
            </div>
            <div class="item-tool">
                <a href="javascript:"><i class="fa fa-lock"></i></a>
            </div>
            <div class="item-tool">
                <a href="javascript:"><i class="fa fa-plus-square"></i></a>
            </div>
            <div class="item-tool">
                <a href="javascript:"><i class="fa fa-cog"></i></a>
            </div>
        </div>
    </div>
</div>
