.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
justify-content: center;
  height: 80vh;
  position: relative;

}
.container{
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
}
.form-custom {
    background-color: var(--gray-light);
    color: var(--white);
    font-family: Roboto;
}
.form-custom::placeholder {
    color: var(--white);
}

.form-custom.focus, .form-custom:focus {
    box-shadow: 0 0 0 .2rem var(--white) !important;
}

.form-custom:not(:disabled):not(.disabled).active, .form-custom:not(:disabled):not(.disabled):active, .show > .form-custom.dropdown-toggle {
    color: var(--gray);
    background-color: transparent;
    border-color: var(--gray-light);
  }

  h5 {
    font-weight: 800;
    font-family: Roboto;
    display: inline;
}

p{
    font-family: Poppins;
}
.fa-chevron-left {
    display: inline;
    margin-right: 2%;
}

.btn-list-filter {
    display: flex;
    flex-direction: row;
}
.btn-filters:hover {
    background-color: var(--greenhover);
} 
.btn-custom-filters {
    background-color: var(--gray-light);
    color: var(--white);
    margin: 0 auto;
    display: flex;   
    justify-content: center;
    border-color: transparent;
    line-height: 1.5;
    border-radius: .55rem;
    font-family: Roboto;
    font-size: 1rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.2em;
}
.btn-custom-filters.focus, .btn-custom-filters:focus {
    box-shadow: 0 0 0 .2rem var(--white) !important;
  }
  .btn-custom-filters.focus, .btn-custom-filters:focus {
    box-shadow: 0 0 0 .2rem var(--white) !important;
  }
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: var(--gray);
    background-color: var(--white);
    border-color: var(--gray-light);
  }
  .btn-list-filter .col-xs-6, .btn-list-filter .col-sm-3 {
     max-width: 25%;
  }
  .filter-secundary {
    margin-top: 2em;
  }
  .filter-secundary a {
    margin-right: 2em;
    font-family: Poppins;
    font-size: 4vw;
    color: var(--white);
    text-decoration:none;
  }
  .filter-secundary .default-filter {
    text-decoration:underline;
    text-decoration-color: var(--green);
  }
  .card {
    color: var(--white);
    font-family: Roboto;
    background-color: var(--gray-light);
    margin:0.5em;
    border-radius: 0.5em;
    border: 1px solid var(--yellow-gradiant);
  }
  .card-list-item:hover {
    cursor: pointer;
    background-color: var(--white);
    color:var(--gray);
  }
  .card-body {
    flex-direction: row;
  }
  .icon {
    max-width: 30%;    
  }
  .title {
    max-width: 50%;
    margin-left: 10%;
    flex-direction: column;
  }
  .button-flex {
    max-width: 20%;
    position: absolute;
    right: 5%;
    top: 35%;
  }
  .title h6 {
    width: 100%;
  }
  .title span {
    width: 100%;
    font-size: .75em;
  }

  .fa-facebook-official::before {
    content: "\f082";
    font-size: 2.5em;
  }

  .fa-linkedin-square::before {
    content: "\f08c";
    font-size: 2.5em;
  }

  .fa-twitter-square::before {
    content: "\f081";
    font-size: 2.5em;
  }
  .fa-google::before {
    content: "\f1a0";
    font-size: 2.5em;
  }
  .fa-github::before {
    content: "\f09b";
    font-size: 2.5em;
  }
  .fa-paypal::before {
    content: "\f1ed";
    font-size: 2.5em;
  }
  .fa-cloud::before {
    content: "\f0c2";
    font-size: 2.5em;
  }
  .fa-user-circle::before {
    content: "\f2bd";
    font-size: 2.5em;
  }

  .fa-credit-card::before {
    content: "\f09d";
    font-size: 2.5em;
  }


  .fa-chevron-left::before {
    content: "\f053";
    font-size: 1.1em;
  }
  .fa-chevron-right::before {
    content: "\f054";
    font-size: 1.1em;
  }
  .icon-ellipsis-vertical::before {
    content: "\f054";
    font-size: 1.5em;
  }
#vaultcontainer {
  position:absolute;
  width: 100%;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.last-item-list {
  margin-bottom: 30%;
}

#detail-vault {
  display: none;
  position:fixed;
  padding-top: 25%;
  left: 5%;
  height: 100vh;
  z-index: 1;
  background: var(--gray);
  z-index: 0;
}
#detail-vault-save {
  display: none;
  position:fixed;
  padding-top: 25%;
  left: 5%;
  height: 100vh;
  z-index: 1;
  background: var(--gray);
  z-index: 0;
}
.input-pw-detail {
  border: 0;
  background-color: transparent;
  color: var(--white);
}
.input-user-detail {
  border: 0;
  background-color: transparent;
  color: var(--white);
}

.return-back {
  width: 100%;
  color: var(--white);
}
.return-back:hover {
  cursor: pointer;
}
.title-detail-value {
  margin: 0.5em;
}

.fa-eye-slash {
  display: none;
}

.fa-eye-slash::before {
  content: '\f070';
  font-size: 1.2em;
}
.fa-eye::before {
  content: '\f06e';
  font-size: 1.2em;
}
.eye-pw:hover {
  cursor: pointer;
}
.fa-files-o::before {
  content: '\f0c5';
  font-size: 1.2em;
}
.title-detail-value .card:hover {
  cursor: none;
}
.title-detail-value .card .card-body {
  flex-direction: row;
  justify-content:center;
}
.card-body-password {
  justify-content: flex-start;
}
.input-user-detail, .input-pw-detail {
  margin-right: 0.8em;
}
#copy-pw {
  margin-left: 5%;
}
.eye-pw:hover {
  cursor: pointer;
  color: var(--yellow);
}
.pb-12 {
  padding-bottom: 12em !important;
}
.content-detail-values{
  width: 100%;
}
.fa-plus-square::before {
  content: "\f0fe";
  font-size: 2em;
}
.add-cred {
  display: flex;
}
.add-cred .fa-plus-squar:hover {
  cursor: pointer;
  color: var(--gray);
  background-color: var(--white);
}
input:focus{
  outline: none;
}
.btn-custom-register {
  background-color: var(--green);
  color: var(--white);
  margin: 0 auto;
  display: flex;
  min-width: 25%;
  justify-content: center;
  border-color: transparent;
  line-height: 1.8;
  border-radius: .55rem;
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 2em;
}
  @media only screen and (min-width:1081px) {
    .filter-secundary a {
      margin-right: 2em;
      font-family: Poppins;
      font-size: 1.5vw;
      color: var(--white);
      text-decoration:none;
    }
    .form-custom {
      max-width: 40%;
  }
   .card-list-item{
    max-width: 70% !important;
   }
   .card-body-password {
    justify-content: space-around;
  }
  .input-user-detail, .input-pw-detail {
    width: 60%;
  }
  #detail-vault{
    display: none;
    position:fixed;
    padding-top: 10% !important;
    left: 15%;
    height: 100vh;
    z-index: 1;
    background: var(--gray);
    z-index: 0;
  }
  #detail-vault-save{
    display: none;
    position:fixed;
    padding-top: 7% !important;
    left: 15%;
    height: 100vh;
    z-index: 1;
    background: var(--gray);
    z-index: 0;
  }
  .content-detail-values{
    width: 70%;
  }
  #vaultcontainer {
    position:absolute;
    width: 100%;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .input-user-detail, .input-pw-detail {
    margin-right: 2em;
  }
  }